<div class="panel dark">
	<div class="row">    
		<div class="columns small-8">
			<div id="detail-region" data-role="detail-region" class="row">
				<!-- Detail View goes in here -->
			</div>
		</div>
		<div class="columns small-4">
			<div id="pagination-region">
				<!-- Pagination Component goes here -->
			</div>
		</div>
	</div>
</div>
<div id="content-region" data-role="content-region">
	<!-- Layout goes in here -->
</div>
