<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Loan Delivery</title>
    <link rel="stylesheet" href="/assets/styles/app.css" />
  </head>
  <body>
    <!-- App Regions -->
    <header id="header-region" data-role="header-region" class="app-row"></header>
    <main id="main-region" data-role="main-region" class='app-row'></main>
    <footer id="footer-region" data-role="footer-region" cass="app-row"></footer>
    <div id="dialog-region" class='reveal-modal' data-reveal><!-- Dialog Region --></div>
      
    <!-- Application source -->
    <script data-main="/init" src="/app/libs/requirejs/require.js"></script>
  </body>
</html>